.videocams
  position: fixed
  top: 0px
  right: 0px
  left: 0px
  bottom: 50%
  display: none

.videocams.visible
  display: block

.videobox
  min-width: 10%
  min-height: 50%
  background: #eee
  display: block
  width: 15%
  margin: 5px
  float: left
  position: relative
  
.videobox-flash
  position: absolute
  top: 39px
  bottom: 0px
  left: 0px
  right: 0px